{% extends 'base.html' %}
  <main>
  {% block content %}
    <div class="form-container">
        <div class="left-cart">
          <div class="in-your-cart">
            <h4>Shopping Cart</h4>
              {% if cart.items %}
                  <form method="post" action="{% url 'clear-cart' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-clear-cart">Clear Cart</button>
                  </form>
                  {% for key, item in cart.items %}
                      <div style="display: inline-block; padding-right: 2rem; " class="cart-items">
                        <p style="position: absolute;
                         color: white;
                          background-color: #191d14;
                           padding: 7px;
                            border-radius: 20px;">{{ item.quantity }}</p>
                          {% if item.model == 'product' %}
                          <a href="{% url 'item-detail' item.category item.pk %}">
                              <img class="cart-image" src="{{ item.image }}">
                          </a>
                          {% else %}
                              <a href="{% url 'plans-detail' item.pk %}">
                              <img class="cart-image" src="{{ item.image }}">
                          </a>
                          {% endif %}
                        <p style="font-size: 0.9rem">{{ item.name }}</p>
                        <p>${{ item.price }}</p>
                      </div>
                  {% endfor %}
              {% else %}
                  <h4 style="border: none">No items</h4>
              {% endif %}
          </div>
          <div class="cart-summary">
            <h4>Summary</h4>
            <h6>Subtotal: ${{ grand_total }}</h6>
            <h6>Taxes: ${{ tax }}</h6>
            <h6>Total: ${{ total_after_tax }}</h6>
          </div>
        </div>
        <div class="right-cart">
            <form class="cart-form" method="post">
                {% csrf_token %}
                {{ form }}
                <a style="text-decoration: none" href="{% url 'checkout-view' %}">
                    <div class="button-container">
                        <input type="submit" value="Checkout" class="submit-button">
                    </div>
                </a>
            </form>
        </div>
    </div>
    </div>
  {% endblock %}
  </main>


