{% extends 'base.html' %}
<main>
    {% block content %}
    <div class="item-details-hero">
        {% if messages %}
            <div id="popup-message" style="position: fixed; top: 20px; right: 20px; z-index: 9999;">
                {% for message in messages %}
                    <div style="
                        background-color: #f7f7f7;
                        color: black;
                        padding: 10px 20px;
                        margin-bottom: 10px;
                        margin-top: 4rem;
                        border-radius: 5px;
                        box-shadow: 0 0 10px rgba(0,0,0,0.3);
                    ">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <script>
                setTimeout(function() {
                    const popup = document.getElementById('popup-message');
                    if (popup) {
                        popup.style.display = 'none';
                    }
                }, 1500);
            </script>
        {% endif %}
      <div style="width: 1250px;" class="item-image-container">
        {% if images %}
            {% for image in images %}
                <img class="item-image" src="{{ image.image_url }}">
            {% endfor %}
        {% else %}
            <img class="item-image" src="{{ object.image_url }}">
        {% endif %}
        
      </div>
      <div class="item-details-desc">
        <h5>{{ object.title }}</h5>
        <p>${{ object.price }}</p>
          {% if object.category != 'equipment' %}
            <form  style="margin-top: 0" id="add-to-cart-form" method="post" action="{% url 'add_to_cart' model_name='product' item_id=pk %}">
                {% csrf_token %}

                <div style="margin-top: 1.5rem">
                    <input type="radio" id="size-s" name="size" value="S" required>
                    <label for="size-s" class="size-button">Small</label>

                    <input type="radio" id="size-m" name="size" value="M" required>
                    <label for="size-m" class="size-button">Medium</label>

                    <input type="radio" id="size-l" name="size" value="L" required>
                    <label for="size-l" class="size-button">Large</label>

                    <input type="radio" id="size-xl" name="size" value="XL" required>
                    <label for="size-xl" class="size-button">XL</label>
                </div>

                <button class="shop-now" style="width: 100%; margin-top: 1rem" type="submit">
                    Add to cart
                </button>
            </form>
          {% else %}
              <form id="add-to-cart-form" method="post" action="{% url 'add_to_cart' model_name='product' item_id=pk %}">
                {% csrf_token %}
                <button class="shop-now" style="width: 100%; margin-top: 1rem" type="submit">
                    Add to cart
                </button>
              </form>
          {% endif %}
        <p style="margin-top: 1rem;">{{ object.description }}</p>
        <p style="margin-top: 2rem;">INTERNATIONAL CUSTOMERS: If your order includes a product that is ONLY available in our U.S. warehouse, the entire order will ship from the U.S. Please note that international shipments may be subject to import taxes</p>
        <p style="margin-top: 2rem;"><i  style="margin-right: 0.5rem" class="fa-solid fa-truck"></i>Standard delivery date is about 5 business days or less depending on your location.</p>
        <p style="margin-top: 2rem;">PLEASE READ: International orders may be subject to customs duty fees which have to be paid before the shipment is released to you . If you're unsure on whether you'll be subject to customs fees, we'd recommend contacting your local customs office for more information before placing your order. We are not responsible for these fees. You will NOT be eligible for an order refund should you decide NOT to pay these fees once your shipment is processed by the Customs department of your country.</p>
          {% if perms.shop.create_product %}
            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
               <form method="post" action="{% url 'delete-item' object.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <a href="{% url 'delete-item' object.pk %}">
                        <button class="shop-now" style="margin-top: 2rem; font-size: 1rem; width: 10rem">
                            Delete
                        </button>
                    </a>
                </form>
            </div>
          {% endif %}
      </div>
    </div>

    <div class="marquee">
      <span>✔️ Up to 70% OFF ✔️ Limited stock — when it’s gone, it’s gone ✔️ Free shipping on orders over $50 🔗 Click. Buy. Save. Smile.</span>
    </div>
    {% endblock %}
  </main>

