{% extends 'base.html' %}
{% load static %}
  <main>
      {% block content %}
      <div class="hero-plans">
        <h1>{{ category_name | capfirst }}</h1>
        <div class="model-images">
        {% for i in products %}
        <a style="text-decoration: none;" href="{% url 'item-detail' i.category i.pk %}">
          <div class="model-card">
            <img class="gornation-tee" src="{{ i.image_url }}">
            <p class="item-desc">{{ i.title }}</p>
            <p style="color: #333333;">${{ i.price }}</p>
          </div>
        </a>
        {% endfor %}
            {% if perms.shop.create_product %}
                <div class="model-card">
                    <a href="{% url 'add-item' %}">
                        <img class="gornation-tee" src="https://icon-library.com/images/add-image-icon/add-image-icon-14.jpg">
                    </a>
                    <p>Click here to add an item</p>
                </div>
            {% endif %}
        </div>
      </div>
      {% endblock %}
  </main>


