{% extends 'base.html' %}

<main>
    {% block content %}
        <div class="hero-about">
            <div class="about-section">
                <h1>BarGrip is a premium athletic apparel and fitness lifestyle brand dedicated to empowering athletes, lifters, and fitness enthusiasts with performance-driven clothing and tailored workout programs. Our mission is to provide innovative, functional gear designed to elevate your training experience—whether you're hitting a heavy squat, grinding through a CrossFit session, or chasing your personal best at the gym.
                    At the core of BarGrip is our signature grip-enhanced apparel, engineered to improve stability, reduce bar slippage, and maximize comfort during even the most intense workouts. Paired with expert-designed training plans for strength, conditioning, and endurance, we offer a complete ecosystem to support your journey—both in and out of the gym.
                    Driven by quality, innovation, and community, BarGrip is more than a brand—it's a commitment to serious training and relentless improvement.
                </h1>
            </div>
        </div>
    {% endblock %}
</main>



