{% extends 'base.html' %}

<main>
    {% block content %}
        <div class="hero-about">
            <div class="about-section">
                <h1>Contact:</h1>
                <h1>Email: BarGrip@gmail.com</h1>
                <h1>Phone: +359 879 12345</h1>
                <h1>Address: Maria Luiza Boulevard, Sofia</h1>
                <h1>Follow Us:</h1>
                <h1><i class="fa-brands fa-twitter"></i> BarGrip</h1>
                <h1><i class="fa-brands fa-instagram"></i> BarGrip</h1>
                <h1><i class="fa-brands fa-facebook"></i> BarGrip</h1>
            </div>
        </div>
    {% endblock %}
</main>


