{% extends 'base.html' %}

<main>
    {% block content %}
        <div class="hero-about">
            <div class="about-section">
                <h1>Support & Help Center</h1>
                <h5>At BarGrip, we're here to help you crush your goals—on and off the bar. Whether you're tracking a new PR with our gear, starting one of our training plans, or have a question about your order, we’ve got your back.</h5>
                <h1>Need Help With:</h1>
                <h5>Workout Plans – Questions about access, program structure, or choosing the right one? We’ll guide you.</h5>
                <h5>Gear & Equipment – Unsure about sizing, usage, or warranty? We’ll get you set up right.</h5>
                <h5>Apparel Orders – Need a hand with shipping, exchanges, or returns? Let’s sort it out.</h5>
                <h1>Contact Us</h1>
                <h1>BarGrip@gmail.com</h1>
            </div>
        </div>
    {% endblock %}
</main>



